@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700');

/* ----- Colour ----- */

bg-color-header {
    background-color: rgb(255,255,255);
}

.bg-menu-active {
    background-color: rgb(36, 41, 46);
}

.menu-active-color {
    color: rgba(255, 255, 255, 0.75) !important;
}

.bg-color-footer {
    background-color: #fafafa;
}

.bg-color-contact {
    background-color: #ffffff;
}



/* ----- General ----- */

a {
    text-decoration: none;
    color: inherit;
}


a:hover {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}


/* ----- Header ----- */

.navbar-content-menu {
     padding: 0px 15px;
}

.header-settings {
    padding: 0px;
}

.header-image-index {
    background-image: url("../images/headers/home.jpg");
}

.header-image-services {
    background-image: url("../images/headers/services.jpg");
}

.header-image-who {
    background-image: url("../images/headers/who.jpg");
}

.header-image-contact {
    background-image: url('../images/headers/contact.jpg');
}


.header-image {
    height: 130px;
    width: 100%;
    background-size: cover;
    border: 0;
}

/* ----- Footer ----- */

.footer {
    margin-top: 10px;
    padding: 0px;
}

.footer-style {
    padding: 10px 0px 10px;

}

.footer-center {
    text-align: center;
}

.footer-social {
    padding-left: 20px;
}

.footer-designed-by {
    font-size: 10px;
    padding: 10px;
    margin: 0px;
}

/* ----- Home ----- */

.home-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-align-center {
    text-align: center;
}

.home-icons {
    font-size: 100px;
    text-align: center;
}    

.home-services {
    color: #ff0000;
}

.home-who {
    color: #078a08;
}

.home-contact {
    color: #0000ff;
}

.video-youtube {
	margin: auto;
    width: 100%;
    height: 315px;
    border: 0;
}

.video {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 10px;
}

/* ----- Services ----- */

.services {
    display: inline-block;
    float: none;
    margin: 20px 15px;
}

.services-icon {
    font-size: 150%;
    text-align: center;
    padding: 0;
}

.services-item h3 {
    font-weight: 500;
}

.services-description-align {
    padding: 0;
}

.services-photo-align {
    padding: 0;
    margin: 0;
    
}

.services-photos {
    display: none;
    border: 0;
    height: 180px;
    margin: auto;
    padding: 0;
}

/* ----- Who We Are ----- */

.solicitors {
    float: none;
    text-align: center;
    margin-top: 15px;
}

.photo-shoot {
    height: 220px;
    border: 0;
    margin: 10px;

}

.solicitors-name {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

.solicitors-about {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    margin: 10px 0px;
}

.solicitors-biography {
    text-align: justify;
    margin: 5px 10px;
    padding-right: 15px;
    padding-left: 15px;
}

/* ----- Contact ----- */

.tube-image {
    width:32px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 90%;
}

.contact-info-item {
    display: block;
    margin-bottom: 3px;
    clear: both;
    max-width: 70%;
}

.key .value {
    margin: 0;
    display: inline-block;
}


.contact-info-item .key,
.contact-info-item .value {
    padding-right: 2px;
}

.contact-info-item .key p,
.contact-info-item .value p {
    margin: 0;
}

.contact-info-item .value a {
    text-decoration: none;
    font-weight: normal;
}

.contact-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 8px;
    padding-top: 2px;
    vertical-align: top;
}

.contact-info-item .key p {
    font-weight: 600;
    
}

.contact-info-item .value {
    float: none; 
    display: table-cell;
    max-width: 50%;
}

.text-center {
    margin-top: 16px;
}


/* ----- Media Queries ----- */

@media(min-width: 480px) {
    .photo-shoot {
        height: 250px;
    }    
}

@media(min-width: 580px) {
    .header-image {
        height: 180px;
        width: 100%;
        background-size: cover;
        border: 0;
        margin-bottom: 15px;
    }
    .photo-shoot {
        height: 280px;
    }
    .solicitors {
        margin-top: 0;
    }
}

@media(min-width: 768px) {
    .contact-info-item .value {
        display: inline-block;
        position: relative;
        width: 60%;
    }
    
    .header-image {
        height: 220px;
        width: 100%;
        background-size: cover;
        border: 0;
        margin-bottom: 20px;
    }

    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 70%;
    }
    .footer-style {
        padding: 15px 0px 15px;
    }
    
    .footer {
        margin-top: 15px;
    }
    
    .services-photos {
        display: block;
        margin: 0 auto;
    }
    
    .solicitors-biography {
        padding-right: 25px;
        padding-left: 25px;
        margin: 5px 0px;
    }
}

@media(min-width: 992px) {
    .header-image {
        height: 250px;
        width: 100%;
        background-size: cover;
        border: 0;
        margin-bottom: 25px;
    }

    .footer {
        margin-top: 20px;
    }
    
    .footer-style {
        padding: 20px 0px 20px;
    }
    .services-photos {
        height: 220px;
    }    
    .photo-shoot {
        height: 350px;
    }
}

@media(min-width: 1200px) {
    .photo-shoot {
        height: 400px;
    }
    .video {
        width: 560px;
        height: 315px;
    }
}